<section class="content-header">
  <h1>
    Ví
  </h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
    <li class="breadcrumb-item active">Ví</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">

        <div class="box-body">
          <div class="table-responsive">
            <table id="employeelist" class="table table-hover no-wrap" data-page-size="10">
              <thead>
              <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Hạn mức</th>
                <th>Trạng thái</th>
                <th colspan="2" style="text-align: center">Thêm</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let w of wallets; let i = index;">
                <td>{{i + 1}}</td>
                <td>
                  <a href=""><img src="assets/images/avatar/{{w.icon}}" alt="user"
                                  class="avatar avatar-sm mr-5"/>{{w.name}}</a>
                </td>
                <td>{{w.money}}</td>
                <td><span class="label label-info" *ngIf="w.status == 1">Active</span>
                <span class="label label-danger" *ngIf="w.status == 0">Block</span></td>
                <td style="text-align: right">
                  <button type="button" class="btn btn-sm btn-danger-outline" data-toggle="tooltip"
                          (click)="displayConfirm(w.id)" data-original-title="Delete"><i class="ti-trash" aria-hidden="true" ></i></button>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-info-outline" data-toggle="modal" data-target="#update-wallet"
                          (click)="displayUpdate(w.id)" data-original-title="Edit"><i class="ti-pencil" aria-hidden="true"></i></button>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="2">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-wallet">Thêm mới
                  </button>
                </td>
                <td colspan="7">
                  <div class="text-right">
                    <ul class="pagination"></ul>
                  </div>
                </td>
              </tr>
              </tfoot>
            </table>
            <div id="add-wallet" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">Thêm ví</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal form-element" [formGroup]="formWallet">
                      <div class="col-md-12 m-b-20">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="name" placeholder="Tên ví"></div>
                      </div>
                      <div class="col-md-12 m-b-20">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="money" placeholder="Hạn mức"></div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="create()">Lưu</button>
                    <button type="button" class="btn btn-default float-right" data-dismiss="modal">Đóng</button>
                  </div>
                </div>
              </div>
            </div>
<!--            update form-->
            <div id="update-wallet" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">Chỉnh sửa ví</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal form-element" [formGroup]="formWallet">
                      <div class="col-md-12 m-b-20">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="name" placeholder="Tên ví"></div>
                      </div>
                      <div class="col-md-12 m-b-20">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="money" placeholder="Hạn mức"></div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="update()">Lưu</button>
                    <button type="button" class="btn btn-default float-right" data-dismiss="modal">Đóng</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
