<aside class="main-sidebar">
  <!-- sidebar -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="ulogo">
        <a href="index.html">
          <!-- logo for regular state and mobile devices -->
          <span><b>HỘ NGHÈO </b>PROJECT</span>
        </a>
      </div>
      <div class="image">
        <img src="assets/images/user2-160x160.jpg" class="rounded-circle" alt="User Image">
      </div>
      <div class="info">
        <p>NAL</p>
        <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Settings"><i class="ion ion-gear-b"></i></a>
        <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Email"><i class="ion ion-android-mail"></i></a>
        <a href="#" role="button" (click)="logout()" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="ion ion-power"></i></a>
      </div>
    </div>
    <!-- sidebar menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="nav-devider"></li>
      <li class="header nav-small-cap"></li>
      <li class="active">
        <a href="/">
          <i class="icon-home"></i> <span>Giao dịch</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
        </a>
      </li>
      <li>
        <a routerLink="/wallets">
          <i class="icon-wallet"></i> <span>Ví</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
        </a>
      </li>
      <li>
        <a routerLink="/categories">
          <i class="icon-list"></i> <span>Loại thu chi</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
        </a>
      </li>
      <li>
        <a href="pages/currency-ex/exchange.html">
          <i class="icon-chart"></i> <span>Thống kê</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
        </a>
      </li>

    </ul>
  </section>
</aside>
